* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  width: 940px;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

/*HEADER*/

.page-header {
  background-color: #ffce34;
}

.logo {
  float: left;
  padding-top: 7px;
  margin: 9px 0px;
  display: inline-block;
}

.logo:before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  background-size:100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url(../image/logo.png);
}

.logo-text {
  font-size: 24px;
}

.no-logo {
  text-align: right;
}

.call-button, .main-nav {
  vertical-align: middle;
  display: inline-block;
  padding: 12px;
}

.main-nav ul{
  padding: 0;
  margin: 0;
}

.main-nav li{
  display: inline-block;
}

.main-nav a, .call-button a {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  padding: 12px;
  font-size: 16px;
}

div.call-button {
  padding: 0;
  background-color: #ffe184;
}

.main-nav a:hover {
  border: 1px solid grey;
}

header:after, .promo:after, .technics-and-offer:after, .recommend:after, .catalog-techTypes:before {
  content: '';
  background-image: url(../image/border.png);
  display: block;
  height: 14px;
  width: 100%;
  background-repeat: repeat-x;
}

/*MAIN*/

/*PROMO*/

.promo {
  background-image: url(../image/promo.jpg);
  background-position: 0px -400px;
  background-size:cover;
  background-repeat: no-repeat;
}

.promo-slogan, .promo-title, .promo-btn {
  color: white;
  text-align:center;
}

.promo-slogan {
  font-size: 44px;
  text-transform: uppercase;
  margin-top: 125px;
  padding-bottom: 0;
  font-weight: bold;
}

.promo-title {
  font-size: 20px;
  width: 630px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: normal;
}

.promo-btn {
  margin-top: 20px;
  margin-bottom: 114px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border: 3px solid #ffce34;
  font-size: 16px;
  display: block;
  width: 220px;
}

/*CONSULT*/

.consult {
  background-color: #202e3b;
  font-size: 0px;
}

.consult-text {
  margin: 30px 0px;
  color: #ffce34;
  font-size: 24px;
}

input, .consult-btn {
  width: 23%;
  background-color: #202e3b;
  height: 42px;
  border: 1px solid #ffce34;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 2.6%;
  padding-left: 20px;
  font-weight: bold;
  font-size: 16px;
}

.consult-btn {
  text-decoration: none;
  display: inline-block;
  color: #202e3b;
  background-color: #ffce34;
  margin-right: 0;
  padding-left: 0;
}

/*INFO*/

.info {
  font-size: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.info-menu li {
  width: 25%;
  display: inline-block;
  font-size: 13px;
  padding-top: 0;
  height: 50px;
}

ul.info-menu {
  padding-left: 0;
}

ul.info-menu li:before {
  float: left;
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-right: 5px;
  background-size:100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

li.hammer:before {
  background-image: url(../image/hammer.gif);
}

li.sledgehammer:before {
   background-image: url(../image/slangehammer.gif);
}

li.fence:before {
   background-image: url(../image/fence.gif);
}

li.man:before  {
   background-image: url(../image/man.gif);
}*

/*TECHNICS*/

.technics-and-offer {
  background-color: #f3f3f3;
  font-size: 0px;
}

.technics {
  width: 30%;
}

.technics, .offer {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 16px;
  display: inline-block;
  vertical-align:top;
}

.technics-and-offer h2 {
  padding-bottom: 10px;
}

.technics ul {
  padding-left: 0;
}

.technics-li {
  padding-top: 5px;
  padding-bottom: 10px;
  list-style-type: none;
}

.technics-li a {
  color: #202e3b;
}
/*OFFER*/
.offer {
  width: 70%;
}

table {
  border-spacing:0px 0px;
  width: 700px;
}

.offer-row {
  height: 30px;
}

tr, th, td {
  padding: 5px 5px 10px 10px;
  margin-bottom: 5p   x;
  margin-top: 5px;
}

th {
  background: #dfdfdf;
  text-align: left;
}

/*RECOMMEND*/

.recommend{
  background-color: #202e3b;
}

.numbers {
  width: 40%;
  float: left;
}

.recommend h2 {
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

.recommend h2 span {
  font-weight: normal;
}

.recommend-numbers {
  font-size: 18px;
  color: #9e9e9e;
}

.recommend-numbers span {
  padding-right: 20px;
  font-size: 38px;
  color: #ffce34;
}

.client div {
  margin-bottom: 60px;
}

.client-img {
  float: left;
  height: 115px;
  width: 115px;
  border: 1px solid #ffce34;
  border-radius: 5px;
  margin-right: 15px;
}

.recommend blockquote {
  font-style: italic;
  font-size: 18px;
  color: white;
}


.recommend cite {
  padding-top: 10px;
  font-size: 18px;
  color: #ffce34;
  font-weight: bold;
}

/*FOOTER*/

.page-footer {
  background-color: #202e3b;
  padding: 15px;
}

.footer-logo-text {
  color: #ffce34;
}

footer .main-nav a {
  color:white;
}

footer .call-button a {
  color: #ffce34;
  background-color: #202e3b;
}

/*CATALOG*/

.catalog-consult {
  background-image: url(../image/promo.jpg);
  background-position: 0px -600px;
  background-size:cover;
  font-size: 0;
  padding-bottom: 40px;
}

h2.consult-text {
  font-size: 26px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 15px;
}

.catalog-consult-slogan {
  font-size:16px;
  height: 20px;
  color:white;
}

.catalog-consult-text {
  display: inline-block;
  width: 700px;
  margin-bottom: 10px;
}

.catalog-consult-call {
  display: inline-block;
  width: 240px;
  vertical-align: top;
}
[class*="-consult-btn"] {
  width: 240px;
  height: 45px;
  margin-top: 40px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #202e3b;
  background-color: #ffce34;
  font-weight: bold;
  font-size: 18px;
  border: none;
}

/*catalog-TechTypes*/

.catalog-techTypes {
  font-size: 0;
  background-color: #f3f3f3;
}

.catalog-techTypes-menu {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin:  30px 20px 0px 0px;
  font-size: 16px;
}

.catalog-techTypes-h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.catalog-techTypes-h2:before {
  content: '';
  display: inline-block;
  background-image: url(../image/techTypes.gif);
  background-repeat: no-repeat;
  background-position: 0 -2px;
  vertical-align: middle;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}

ul.catalog-techTypes-ul {
  padding-left: 0;
}

li.catalog-techTypes-li {
  padding: 10px 0px 10px 0px;
  list-style-type: none;
}

.catalog-techTypes-menu-btn {
  width: 220px;
  height: 35px;
  background-color: #354b60;
  color:white;
  border:none;
  text-decoration: none;
  margin-top: 20px;
  font-size: 15px;
}

.catalog-techTypes-menu-btn:before {
  content: '';
  display: inline-block;
  background-image: url(../image/download.gif);
  background-repeat: no-repeat;
  background-position: 0 -2px;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.catalog-item {
  display: inline-block;
  width: 620px;
  margin: 30px 0px 45px 80px;
}

.catalog-items {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin: 0px 0px 20px 10px;
  padding: 25px;
  background-color: white;
}

.catalog-items-h3 {
  font-size: 21px;
  font-weight: bold;
  padding-bottom:25px;
}

.catalog-items-image {
  background-image: url(../image/cat315.jpg);
  width: 240px;
  height: 160px;
}

.catalog-items-price {
  padding-top: 20px;
  font-size: 27px;
  font-weight: bold;
}

.normal {
  font-size: 18px;
}

[class^="catalog-items-btn-"] {
  display: inline;
  width: 120px;
  height: 35px;
  color: white;
  font-size: 16px;
  border:none;
  text-decoration: none;
  margin-top: 25px;
}

.catalog-items-btn-rent {
  background-color: #f3c331;
}

.catalog-items-btn-more {
  background-color: #354b60;
}

.catalog-items-nav {
  text-align: center;
}
.catalog-items-nav button {
  font-size: 14px;
  display: inline;
  border:none;
  margin-left: 5px;
  margin-right: 5px
}

.catalog-specOffer {
  background-image: url(../image/catalogOffer.jpg);
  background-position: 0px -400px;
  background-size:cover;
  background-repeat: no-repeat;
}

.catalog-specOffer-item {
  margin-top: 40px;
  margin-bottom: 40px;
}

.catalog-specOffer-h1 {
  margin-top: 40px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.del {
  text-decoration: line-through;
  color:red;
  padding-right: 15px;
}

/*CONTACTS*/

.contacts-consult {
  font-size: 0;
  background-image: url(../image/promo.jpg);
  background-position: 0px -700px;
  background-size:cover;
  background-repeat: no-repeat;
}

.contacts-consult-text {
  display: inline-block;
  width: 700px;
}

.contacts-consult-text-h2 {
  display: inline;
  font-size: 26px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #ffcd34;
}

.contacts-consult-advice {
  padding-left: 15px;
  font-size: 16px;
  color: white;
}

.contacts-consult-call {
  display: inline-block;
  width: 240px;
}

.contacts-consult-btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

.contacts-formConsult{
  background-color: #f3f3f3;
}
.contacts-formConsult-map {
  margin-top: 40px;
  display: inline-block;
}

.contacts-formConsult-request {
  margin-top: 40px;
  margin-left: 15px;
  display: inline-block;
  width: 300px;
  height: 400px;
  vertical-align: top;
}

.contacts-formConsult-request-phone, .contacts-formConsult-request-mail {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contacts-formConsult-request-order {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.contacts-formConsult-request-item input {
  display: block;
  text-decoration: none;
  background-color: white;
  border: 1px solid grey;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}

input.contacts-formConsult-request-item-more {
  height: 95px;
  margin-bottom: 25px;
}

.contacts-formConsult-request-item-btn {
  display: block;
  text-decoration: none;
  border: none;
  background-color: #354b60;
  font-size: 14px;
  height: 45px;
  width: 300px;
  color:white;
}

